In [76]:
import pandas as pd

df = pd.read_csv("winequality-white.csv", sep=";")
df.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6

In [77]:
df = df.sample(frac=1).reset_index(drop=True)

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [97]:
df['quality'].unique()

array([6, 5, 7, 8, 4, 3, 9])

In [84]:
def alcohol_cat(alcohol):
    if alcohol <= 9.5:
        return "Low"
    elif alcohol <= 11:
        return "Moderate"
    elif alcohol <= 12.5:
        return "High"
    else:
        return "Very High"

df['alcohol_category'] = df['alcohol'].apply(alcohol_cat)
df.sample(frac=1).head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_category
3987,7.0,0.32,0.24,6.2,0.048,31.0,228.0,0.99570,3.23,0.62,9.4,6,Low
2524,6.6,0.17,0.26,7.4,0.052,45.0,128.0,0.99388,3.16,0.37,10.0,6,Moderate
921,5.7,0.26,0.25,10.4,0.020,7.0,57.0,0.99400,3.39,0.37,10.6,5,Moderate
1030,6.3,0.33,0.20,5.8,0.040,24.0,144.0,0.99425,3.15,0.63,9.9,5,Moderate
1029,8.9,0.34,0.34,1.6,0.056,13.0,176.0,0.99460,3.14,0.47,9.7,5,Moderate

In [85]:
#we will attempt to predict the Target: Quality 
df['alcohol_category'].value_counts()

Moderate     1901
Low          1436
High         1206
Very High     355
Name: alcohol_category, dtype: int64

In [86]:
X = df.drop(columns='alcohol_category')
y = df['alcohol_category']

In [98]:
X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,6.4,0.28,0.28,3.0,0.040,19.0,98.0,0.99216,3.25,0.47,11.1,6
1,7.1,0.17,0.38,7.4,0.052,49.0,182.0,0.99580,3.35,0.52,9.6,6
2,7.4,0.28,0.25,11.9,0.053,25.0,148.0,0.99760,3.10,0.62,9.2,5
3,7.8,0.28,0.49,1.3,0.046,27.0,142.0,0.99360,3.09,0.59,10.2,5
4,6.0,0.28,0.27,15.5,0.036,31.0,134.0,0.99408,3.19,0.44,13.0,7

In [88]:
y

0            High
1        Moderate
2             Low
3        Moderate
4       Very High
          ...
4893     Moderate
4894          Low
4895          Low
4896     Moderate
4897     Moderate
Name: alcohol_category, Length: 4898, dtype: object

In [89]:
df['alcohol_category'].unique()

array(['High', 'Moderate', 'Low', 'Very High'], dtype=object)

In [90]:
y.head()

0         High
1     Moderate
2          Low
3     Moderate
4    Very High
Name: alcohol_category, dtype: object

In [99]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [101]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, X, y, cv=5)
scores

array([0.88367347, 0.85102041, 0.87959184, 0.8907048 , 0.90398366])

In [93]:
scores.mean()

0.8817948343791041

In [ ]:
# Apply KNN

In [104]:
from sklearn import neighbors
from sklearn.model_selection import cross_val_score
knn = neighbors.KNeighborsClassifier(n_neighbors=10)

scores = cross_val_score(knn, X, y, cv=20)

In [105]:
scores

array([0.58367347, 0.62857143, 0.61632653, 0.6244898 , 0.54285714,
       0.55510204, 0.57959184, 0.57959184, 0.60408163, 0.55102041,
       0.6       , 0.53469388, 0.5877551 , 0.57959184, 0.53877551,
       0.56326531, 0.5755102 , 0.62857143, 0.58606557, 0.55737705])

In [96]:
scores.mean()

0.5757476733024498